.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 16px 0;
  margin-top: 6px;
  list-style: none;
  padding: 0;
  user-select: none;
}

.pagination li {
  width: 28px;
  height: 28px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid rgb(5, 51, 69);
  cursor: pointer;
  transition: all 0.3s ease 0.3s ease;
}

@media screen and (min-width: 768px) {
  .pagination li {
    width: 32px;
    height: 32px;
  }
}

.pagination li:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 5px rgba(0, 101, 134, 0.3), 0 0 5px rgba(0, 101, 126, 0.2),
    0 0 10px rgba(0, 150, 200, 0.1);
}

.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 900;
  font-size: 12px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.pagination .active {
  color: rgb(162, 249, 249);
  font-weight: 600;
  transform: scale(1.05);
  animation: shadow-drop-center 1.5s infinite alternate;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 3px rgba(0, 101, 134, 0.3), 0 0 5px rgba(0, 101, 126, 0.2),
      0 0 5px rgba(0, 150, 200, 0.1);
  }
  100% {
    box-shadow: 0 0 6px rgba(0, 179, 255, 0.353),
      0 0 10px rgba(0, 179, 255, 0.288), 0 0 10px rgba(0, 179, 255, 0.205);
  }
}
