/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:is(.dark *));
@theme {
  --font-marker: var(--font-marker);
}

body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-parkinsans), sans-serif;
  color: rgb(89, 201, 201);
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #060010;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.arrowWiggle {
  animation: arrowWiggle 0.8s ease-in-out infinite;
}

@keyframes arrowWiggle {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-8px); 
  }
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 3px rgba(0, 101, 134, 0.3), 0 0 5px rgba(0, 101, 126, 0.2),
      0 0 5px rgba(0, 150, 200, 0.1);
  }
  100% {
    box-shadow: 0 0 6px rgba(0, 179, 255, 0.353),
      0 0 10px rgba(0, 179, 255, 0.288), 0 0 10px rgba(0, 179, 255, 0.205);
  }
}

.animate-shadow-drop-center {
  animation: shadow-drop-center 1s ease-in-out infinite alternate;
}

@theme {
  --animate-shine: shine 5s linear infinite;
}

@layer utilities {
  .text-shadow-cyan {
    text-shadow: 0 0 8px rgba(34, 211, 238, 0.6); 
  }
}
