.container {
  margin-top: 10px;
  background-image: url("/404.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 0 auto;
  font-family: "Norican", cursive;
  font-size: 32px;
}

.description {
  margin: 0 auto;
  font-family: "Norican", cursive;
  font-size: 24px;
}
