.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidebar {
  width: 280px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(1, 55, 72, 0.942);
  backdrop-filter: blur(2px);
  height: 105vh;
}

.notesWrapper {
  width: 100%;
  flex-grow: 1;
  overflow-x: hidden;
}
