/* components/Footer.module.css */

.footer {
  padding: 20px;

  color: #f3f0f0;
  border-top: 1px solid #242424;
  margin-top: auto;
  background-color: #333;
}

.wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #a5bcd7;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
